.landing {
	height: 100%;
	margin-top: 44px;
}

.landing .col-lg-12 {
	height: 100%;
}

.landing .col-lg-12 .header {
	height: 100%;
}

.image-selector input[type="file"] {
	display: none;
}

.image-container {
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: #CCC;
}

.image-container img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

.image-result {
	position: fixed;
	z-index: 11;
	width: 100%;
	background-color: #000;
	opacity: .7;
	bottom: -85px;
}

.image-result h1,
.image-result h2,
.image-result h3 {
	margin: 0px;
	color: #FFF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.image-result h2 {
	padding: 10px 10px 5px 10px;
}

.image-result h3 {
	padding: 0px 10px 10px 10px;
}

.image-result .play {
	color: #FFF;
	padding: 30px 20px;
}

.image-result .play a {
	color: #FFF;
}
.capture-button {
	cursor: pointer;
}

.capture-button:hover {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}

#play-sound {
	cursor: pointer;
}
